@using Hour_Logging_System.Models; 

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    @model Hour_Logging_System.Models.Employee;
}

<h1>You are logged in as an employee from @Model.Company</h1>
<p>Welcome, @Model.Username (@Model.FirstName @Model.LastName)</p>